@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
}

[dir='rtl'] {
  font-family: 'Noto Kufi Arabic', 'Amiri', system-ui, sans-serif;
}